<a href="https://colab.research.google.com/github/isamoresco25/Entra21_Isadora/blob/master/Aula09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

------

<h1><b> Laço de repetição for </b></h1>

------

Laço de repetição for é o laço de repetição mais usado no Python.

A estrutura básica do for é:

for i in range(numero):<br>
....<código a ser repetido>

Dentro do range() deve ser colocado um número inteiro de vezes que você quer que o for faça o loop.

In [ ]:
# Exemplo1: Uso do for.

# Faça um programa que mostre na tela números de 0 a 10.

for i in range( 11 ): # Com o range() ele vai começar com o zero e ir até um numeor antes do 11!
    print( i )

In [ ]:
# Exemplo2: Uso do for.

# Faça um programa que mostre a taboada do 7.

for i in range(11):
    print(f"7 x {i} = {i*7}")

In [ ]:
# Exemplo3: Uso do for.

# Faça um programa que peça 5 notas de um aluno e mostre a média

notasAlunos = [ ] # A lista tem que ser iniciada fora do for"
                  # Se a lista for iniciada dentro do for, a cada loop a lista será apagada!

for i in range(5): 
    nota = float (input(f"Digite a nota {i+1}: "))
    notasAlunos.append(nota)

print(f"A média é: {sum(notasAlunos) / len( notasAlunos )}")

# Não ficou fácil? Agora ao invés de usar 5 variáveis, usamos 1 lista.

<b>Exercicio 01</b>

Faça um programa que conte de 0 a 100 e mostre todos os números.

In [ ]:
lista=[]
for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

<b>Exercicio 02</b>

Faça um programa que mostre a tabuada de 1, 2, 3 e 4

In [ ]:
for i in range(11):
  print(f"7x{i}= {7*i}")

7x0= 0
7x1= 7
7x2= 14
7x3= 21
7x4= 28
7x5= 35
7x6= 42
7x7= 49
7x8= 56
7x9= 63
7x10= 70

<b>Exercicio 03</b>

Faça um programa que peça 10 notas do aluno. Faça a média e mostre as seguintes mensagens:

Para 7 a 10 - Aprovado<br>
Para 5.5 a 7 - Recuperação <br>
Para menor de 5.5 - Reprovado

In [ ]:
nota_alunos= []
for i in range(10):
  nota=float(input(f"Digite a nota {i+1}: "))
  nota_alunos.append(nota)
media= float(sum(nota_alunos)/len(nota_alunos))
print(media)
if media>7 and media<10:
  print("aprovado")
elif media>5.5 and media<7:
  print("recuperação")
elif media<5.5:
  print("reprovado")

Digite a nota 1: 6
Digite a nota 2: 7
Digite a nota 3: 8
Digite a nota 4: 9
Digite a nota 5: 10
Digite a nota 6: 3
Digite a nota 7: 4
Digite a nota 8: 5
Digite a nota 9: 10
Digite a nota 10: 9
7.1
aprovado

<b>Exercicio 04</b>

Faça um programa de cadastro de pessoas que receba 10 nomes, idades e e-mails e salve cada um em uma lista.

Depois mostre as listas separadamente 
(print (lista) já é o suficiente)

In [ ]:
lista_nomes=[]
for i in range(10):
  nomes=input(f"digite nome {i+1}: ")
  lista_nomes.append(nomes)
print(lista_nomes)
lista_idades=[]
for i in range(10):
  idades=input(f"digite idade {i+1}: ")
  lista_idades.append(idades)
print(lista_idades)
lista_emails= []
for i in range(10):
  emails=input(f"digite o email {i+1}: ")
  lista_emails.append(emails)
print(lista_emails)

digite nome 1: isa
digite nome 2: le
digite nome 3: lu
digite nome 4: mille
digite nome 5: mah
digite nome 6: mari
digite nome 7: amanda
digite nome 8: meg
digite nome 9: nina
digite nome 10: fiona
['isa', 'le', 'lu', 'mille', 'mah', 'mari', 'amanda', 'meg', 'nina', 'fiona']
digite idade 1: 18
digite idade 2: 18
digite idade 3: 19
digite idade 4: 18
digite idade 5: 18
digite idade 6: 41
digite idade 7: 15
digite idade 8: 6
digite idade 9: 15
digite idade 10: 3
['18', '18', '19', '18', '18', '41', '15', '6', '15', '3']
digite o email 1: isagmail
digite o email 2: legmail
digite o email 3: lugmail
digite o email 4: millegmail
digite o email 5: mahgmail
digite o email 6: marigmail
digite o email 7: amandagmail
digite o email 8: meggmail
digite o email 9: ninagmail
digite o email 10: fionagmail
['isagmail', 'legmail', 'lugmail', 'millegmail', 'mahgmail', 'marigmail', 'amandagmail', 'meggmail', 'ninagmail', 'fionagmail']

<b>Exercicio 05</b>

Faça um programa que peça ao usuário digitar a quantidade de vendas do dia. Cadastre cada venda separadaemnte e depois mostre a média e o valor total vendido no dia.

In [ ]:
vendas_dodia=[]
venda=[]
vendas= int(input(f"digite quantas vendas teve no dia: "))
for i in range(vendas):
 vendas= float(input(f"valor vendas {i+1}: "))
 venda.append(vendas)
 media= sum(venda)/len(venda)
print("media total: ", media)
valor_total=sum(venda)
print("valor total: ", valor_total)

digite quantas vendas teve no dia: 3
valor vendas 1: 99.99
valor vendas 2: 59.90
valor vendas 3: 20.00
media total:  59.96333333333333
valor total:  179.89

----

<h1><b> Uso de for com listas. </b></h1>

----

Para poder usar o for com listas, você deve substituir o range() pelo nome da lista.

A cada interação (loop) do for, a variável i ficará com um elemento da lista.

In [ ]:
# Exemplo1: 
# Faça um programa que de o bom dia para cada convidade da lista.

convidados = ["Paulo", "Pedro", "João", "Guilherme","Fábio"]

for i in convidados:
    print(f"Bom dia {i}") # Note que a variável i recebe elementos da lista

In [ ]:
# Exemplo2: 
# Faça um programa que solicite 3 nomes e depois mostre os nomes um em cada linha

nomes_cadastro = []
for i in range(3): # Parte do código responsável pela captura dos nomes
    nome = input("Digite o nome: ")
    nomes_cadastro.append(nome)

for i in nomes_cadastro: # Parde do código responsável pela apresentação dos nomes
    print(i)

In [ ]:
# Exemplo
# Com a lista de idades, mostre a idade e se pode entrar na festa.
# A entrada é permitida para maiores de 16 anos.

idades = [13, 15, 19, 14, 16, 17, 17, 15, 18, 20, 12, 10, 15, 16, 16, 23]

for i in idades:
    if i >= 16:
        print(f"Idade: {i} - Entrada permitida!")
    else:
        print(f"Idade: {i} - Entrada negada!")

Idade: 13 - Entrada negada!
Idade: 15 - Entrada negada!
Idade: 19 - Entrada permitida!
Idade: 14 - Entrada negada!
Idade: 16 - Entrada permitida!
Idade: 17 - Entrada permitida!
Idade: 17 - Entrada permitida!
Idade: 15 - Entrada negada!
Idade: 18 - Entrada permitida!
Idade: 20 - Entrada permitida!
Idade: 12 - Entrada negada!
Idade: 10 - Entrada negada!
Idade: 15 - Entrada negada!
Idade: 16 - Entrada permitida!
Idade: 16 - Entrada permitida!
Idade: 23 - Entrada permitida!

<b>Exercicio 06</b>

Faça um programa que peça ao usuário que digite o nome de 10 pessoas. Depois mostre cada nome em linhas separadas.

In [ ]:
nomes=[]
for i in range(10):
  nome=input(f"digite nome {i+1}: ")
  print(nome)

digite nome 1: isadora
isadora
digite nome 2: marili
marili
digite nome 3: marisa
marisa
digite nome 4: jair
jair
digite nome 5: nina
nina
digite nome 6: meg
meg
digite nome 7: fiona
fiona
digite nome 8: mel
mel
digite nome 9: suzi
suzi
digite nome 10: pepi
pepi

<b>Exercicio 07</b>

Faça um programa que receba 10 idades e mostre a seguinte mensagem:

Para maiores de 18 anos: Ingreços da Rave liberado!<br>
De 16 a 18 anos: Ingreços de cinema liberado <br>
De 13 a 16 anos: Ingreços para fliperama liberado<br>
Menores de 13 anos: Psicina de bolinhas liberado

In [ ]:
lista_idades=[]
for i in range(10):
  idade=int(input(f'digite idade {i+1}: '))
  lista_idades.append(idade)
for i in lista_idades:
  if i>18:
    print(f"Idade: {i} - Ingressos da Rave liberados!")
  elif i>18 and i<16:
     print(f"Idade: {i} - Ingressos do cinema abertos!")
  elif i>13 and i<16:
      print(f"Idade: {i} - Ingressos para fliperama liberados!")
  elif i<13:
      print(f"Idade: {i} - Piscina de bolinhas liberada!")

digite idade 1: 6
digite idade 2: 8
digite idade 3: 10
digite idade 4: 15
digite idade 5: 20
digite idade 6: 17
digite idade 7: 9
digite idade 8: 12
digite idade 9: 7
digite idade 10: 22
Idade: 6 - Piscina de bolinhas liberada!
Idade: 8 - Piscina de bolinhas liberada!
Idade: 10 - Piscina de bolinhas liberada!
Idade: 15 - Ingressos para fliperama liberados!
Idade: 20 - Ingressos da Rave liberados!
Idade: 9 - Piscina de bolinhas liberada!
Idade: 12 - Piscina de bolinhas liberada!
Idade: 7 - Piscina de bolinhas liberada!
Idade: 22 - Ingressos da Rave liberados!

<b>Exercicio 08</b>

Faça um programa que pegue a lista e calcule a seguinte formula: 32x+125

Com o resultado desta formula mostre sómente os resultados maiores que 550. Para os resultados menores que 550 mostre "número invalido!"

lista = [1, 6, 9, 1, 5, 4, 8, 9, 15, 23, 14, 54, 82, 91, 45]

In [ ]:
lista = [1, 6, 9, 1, 5, 4, 8, 9, 15, 23, 14, 54, 82, 91, 45]
for i in lista:
  print(32*i+125)

157
317
413
157
285
253
381
413
605
861
573
1853
2749
3037
1565

<b>Exercicio 09</b>

Faça um programa que pegue uma lista de valores e separe em 2 listas. Uma com valores menores que 500.00 e outra com maiores ou igual.

Depois motre o maior e o menor valor da cada lista.

vandas = [100.00, 500.00, 258.50, 710.00, 50.50,750.00, 10.00, 1050.00, 859.75, 199.05, 500.50,750.00, 568.60, 950.00, 950.00, 89.90, 2500.00, 1750.00,500.00]

In [ ]:
vendas = [100.00, 500.00, 258.50, 710.00, 50.50,750.00, 10.00, 1050.00, 859.75, 199.05, 500.50,750.00, 568.60, 950.00, 950.00, 89.90, 2500.00, 1750.00,500.00]
vendas1=[]
vendas2=[]
for i in vendas:
  if i<500.00:
    (vendas1).append(i)
    print("vendas1: ", vendas1)
  else:
    vendas2.append(i)
    print("vendas2: ", vendas2)

vendas1:  [100.0]
vendas2:  [500.0]
vendas1:  [100.0, 258.5]
vendas2:  [500.0, 710.0]
vendas1:  [100.0, 258.5, 50.5]
vendas2:  [500.0, 710.0, 750.0]
vendas1:  [100.0, 258.5, 50.5, 10.0]
vendas2:  [500.0, 710.0, 750.0, 1050.0]
vendas2:  [500.0, 710.0, 750.0, 1050.0, 859.75]
vendas1:  [100.0, 258.5, 50.5, 10.0, 199.05]
vendas2:  [500.0, 710.0, 750.0, 1050.0, 859.75, 500.5]
vendas2:  [500.0, 710.0, 750.0, 1050.0, 859.75, 500.5, 750.0]
vendas2:  [500.0, 710.0, 750.0, 1050.0, 859.75, 500.5, 750.0, 568.6]
vendas2:  [500.0, 710.0, 750.0, 1050.0, 859.75, 500.5, 750.0, 568.6, 950.0]
vendas2:  [500.0, 710.0, 750.0, 1050.0, 859.75, 500.5, 750.0, 568.6, 950.0, 950.0]
vendas1:  [100.0, 258.5, 50.5, 10.0, 199.05, 89.9]
vendas2:  [500.0, 710.0, 750.0, 1050.0, 859.75, 500.5, 750.0, 568.6, 950.0, 950.0, 2500.0]
vendas2:  [500.0, 710.0, 750.0, 1050.0, 859.75, 500.5, 750.0, 568.6, 950.0, 950.0, 2500.0, 1750.0]
vendas2:  [500.0, 710.0, 750.0, 1050.0, 859.75, 500.5, 750.0, 568.6, 950.0, 950.0, 2500.0, 1750.0, 500.0]