<a href="https://colab.research.google.com/github/isamoresco25/Entra21_Isadora/blob/master/Lista_Funcoes_e_metodos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>FUNÇÕES E METODOS DE LISTAS</h1>

**Funções para lista**<br>

Estas funções ajudam no trabalho com as listas:<br>

min(), max(), sum(), len()<br><br>

min() ele retorna o menor valor de uma lista.<br>
Esta função funciona para números quanto para alfabeto.

In [ ]:
lista_numerica = [2,4,1,5,6,7,3]
lista_alfabetica = ['a','b','d','g']

print( min(lista_numerica) ) #o numero 1
print( min(lista_alfabetica) )#o caracter 'a'

1
a



max() ele retorna o maior valor dentro de uma lisa.<br>
Esta função funciona para números quanto para alfabeto.<br>

In [ ]:
lista_numerica = [2,4,1,5,6,7,3]
lista_alfabetica = ['a','b','d','g']

print( max(lista_numerica) ) #o numero 7
print( max(lista_alfabetica) )#o caracter 'g'

sum() faz a soma de todos os valores dentro da lista. Estes valore devem ser númericos para que esta função funcione.<br>

In [ ]:
lista_numerica = [2,4,1,5,6,7,3]

print( sum(lista_numerica) ) #o numero 28

len() ele conta quantos itens tem um objeto como caracteres de uma string, bytes, tupla, lista, dicionário. <br>

In [ ]:
lista_numerica = [2,4,1,5,6,7,3]
lista_alfabetica = ['a','b','d','g']

print( len(lista_alfabetica) ) #o resultado é 4 item
print( len(lista_numerica) ) #o resultado é 7 itens



---


**Metodos para Lista:**

Aqui vamos ver 90% dos metodos que podem ser usados em listas. Estes metodos ajudam a trabalhar, alterar, filtrar qualquer elemento de uma lista.

**.append()**<br><br>


Para adicionar itens em uma lista, usamos o metodo .append()<br>
.append(objeto)

Adiciona objeto no final da lista

In [ ]:
lista = ['codigo', 'nome', 'idade', 'sexo']
lista.append('elemento')
print(lista)

**.insert()**

insert(índice,objeto)

Insire o objeto na posição indicada (índice).

In [ ]:
lista = [1,2,3,'a','b','c',3,'a',3]
lista.insert(4,'inserção na posição 4')
print(f'lista: {lista}')

**.sort()**

sort(reverse=True/False)
Ele ordena os valores de menor para maior. 

Caso o reverse estiver como True ele irá inverter do maior para menor. 

**Atenção**!

Os dados devem ser todos string ou numérico. Não pode haver mistura dos dois tipos na lista a ser ordenada.

```
>>> lista
[1, 2, 3, 'a', 'inserção na posição 4', 'b', 'c', 3, 'a', 3]
>>> lista.sort()
Traceback (most recent call last):
  File "<pyshell#178>", line 1, in <module>
    lista.sort()
TypeError: '<' not supported between instances of 'str' and 'int'


```

In [ ]:
lista = [8,3,4,9,4,5,3,1,8,2,4,10,564,45,450]

# Ordenando a lista!

lista.sort()
print(f'lista ordenada: {lista}')
print()

# Ordenando a lista reversamente!

lista = [8,3,4,9,4,5,3,1,8,2,4,10,564,45,450]
lista.sort(reverse=True)
print(f'lista ordenada inversamente: {lista}')

**.reverse()**

reverse()

Ele reverte a ordem da lista. Ele não ordena, só altera a posição para a 
posição inversa.

In [ ]:
lista = [8,3,4,9,4,5,3,1,8,2,4,10,564,45,450]
print(f'lista: {lista}')
lista.reverse()
print(f'lista revertida: {lista}')

lista.reverse()
print(f'lista re-revertida: {lista}')

**.pop()**

pop(indice)

Remove o objeto na posição indicada e retorna o valor removido.

Caso não indique o indice do arquivo o .pop() irá remover o ultimo item 
da lista. 

Note que o .pop() retorna o valor removido. O mesmo pode ser salvo em uma variável.

In [ ]:

lista = [8,3,4,9,4,5,3,1,8,2,4,10,564,45,450]
print(f'lista: {lista}')
print(f'lista.pop(): {lista.pop()}')
print(f'lista: {lista}')

variavel = lista.pop()
print(f'variavel: {variavel}')
print()


>>> lista = [8, 3, 4, 9, 4, 5, 3, 1, 8, 2, 4, 10, 564]

# Agora vamos remover o item na terceira posição:

print(f'lista.pop(): {lista.pop(3)}')
print(f'lista: {lista}')

**.remove()**

remove(valor)

remove a primeira ocorrência do valor digitado.

Neste caso o item removido não é retornado para o programa.

In [ ]:
lista = [8, 3, 4, 4, 5, 3, 1, 8, 2, 4, 10, 564]
print(f'lista: {lista}')
print()
lista.remove(3)
print(f'lista: {lista}')

---------------------

<h1><b><center>Exercícios</center></b></h1>

---------------------

1) Crie uma lista vazia.

Adicione as 3 palavras "Abacate" , "Dia bonito",  "Maria Tereza" , usando o .append() em cada uma destas palavras separadamente.

In [ ]:
lista=[]
lista.append("abacate")
lista.append("dia bonito")
lista.append("maria tereza")
print(lista)

['abacate', 'dia bonito', 'maria tereza']

2) Crie uma lista com 10 números qualquer.

Usando as funções da lista responda:

Quantos itens tem a lista?<br>
Qual é o número maior?<br>
Qual é o número menor?<br>
Qual é o resultado da soma da lista?<br>

In [ ]:
lista=[1,2,3,4,5,6,7,8,9,10]
print(len(lista))
print(max(lista))
print(min(lista))
print(sum(lista))

10
10
1
55

3) Estas 3 listas:

vendas_armando = [100.00, 500.00, 258.50, 710.00, 50.50,750.00 ]<br>
vendas_eduardo = [10.00, 1050.00, 859.75, 199.05, 500.50,750.00, 568.60, 950.00 ]<br>
vendas_paulo = [950.00, 89.90, 2500.00, 1750.00,500.00]

Estas listas são referente as vendas dos vendedores Armando, Paulo e Eduardo.

3.1) Com base nelas e usando funções da lista mostradas em aula, mostre:<br>
A média de vendas de cada um;<br>
A venda total de cada vendedor;<br>
A quantidade de vendas de cada vendedor.

3.2) Calcule o valor de comissão que o dono da loja deve pagar para seus funcionários seguindo a regra:

Para total de vendas de 0.00 a 1000.00 Reais - 1%<br>
Para total de vendas de 1000.01 a 2500.00 Reais - 1.5%<br>
Para total de vendas de 2500.01 a 5000.00 Reais - 2%<br>
Para total de vendas a cima de 5000.01 Reais - 3%<br>

In [ ]:
vendas_armando = [100.00, 500.00, 258.50, 710.00, 50.50,750.00 ]
vendas_eduardo = [10.00, 1050.00, 859.75, 199.05, 500.50,750.00, 568.60, 950.00 ]
vendas_paulo = [950.00, 89.90, 2500.00, 1750.00,500.00]
#media das vendas:
media=(print("media das vendas do armando: ",(sum(vendas_armando)/len(vendas_armando))))
media2=print("media das vendas do eduardo: ", (sum(vendas_eduardo)/len(vendas_eduardo)))
media3=print("media das vendas do paulo: ", (sum(vendas_paulo)/len(vendas_paulo)))
#venda total
venda_total1=print("venda total do armando: ",(sum(vendas_armando)))
venda_total2=print("venda total do eduardo: ", (sum(vendas_eduardo)))
venda_total3=print("venda total do paulo: ", (sum(vendas_paulo)))
#qtd de vendas:
venda_total1= len(vendas_armando)
print(venda_total1)
venda_total2= len(vendas_eduardo)
print(venda_total2)
venda_total3= len(vendas_paulo)
print(venda_total3)
#comissao paga:
if venda_total1>0.00 and venda_total1<1000.00:
  print((1/100)*venda_total1)
elif venda_total1>1000.01 and venda_total1<2500.00:
  print((1.5/100)*venda_total1)
elif venda_total1>2500.01 and venda_total1<5000.00:
  print((2/100)*venda_total1)
elif venda_total1>5000.01:
  print((3/100)*venda_total1)
if venda_total2>0.00 and venda_total2<1000.00:
  print((1/100)*venda_total2)
elif venda_total2>1000.01 and venda_total2<2500.00:
  print((1.5/100)*venda_total2)
elif venda_total2>2500.01 and venda_total2<5000.00:
  print((2/100)*venda_total2)
elif venda_total2>5000.01:
  print((3/100)*venda_total2)
if venda_total3>0.00 and venda_total3<1000.00:
  print((1/100)*venda_total3)
elif venda_total3>1000.01 and venda_total3<2500.00:
  print((1.5/100)*venda_total3)
elif venda_total3>2500.01 and venda_total3<5000.00:
  print((2/100)*venda_total3)
elif venda_total3>5000.01:
  print((3/100)*venda_total3)

media das vendas do armando:  394.8333333333333
media das vendas do eduardo:  610.9875
media das vendas do paulo:  1157.98
venda total do armando:  2369.0
venda total do eduardo:  4887.9
venda total do paulo:  5789.9
6
8
5
0.06
0.08
0.05